* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
}

.Events {

    font-size: 36px;
    font-weight: 700;
    line-height: 48.6px;
    text-align: left;
    color: #2C49FE;
}

.free {
    color: #01C8FF;
}

.nav-link {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-16);
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #000000;
}

.nav-btn {
    width: 118px;
    height: 46px;
    transition: all 300ms linear;
    padding: 11px 28px 11px 28px;
    border-radius: 23px;
    opacity: 0px;
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-13);
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    background: #2C49FE;
    border: none;
}

.nav-btn:hover {
    background: #FFFFFF;
    color: #2C49FE;
    border: 2px solid #2C49FE;

}

.gap30 {
    gap: 30px;
}

.nav-bar {

    background-image: url(/assets/images/bg-img.png);

    margin-bottom: 67px;

}

.Events {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-36);
    font-weight: 700;
    line-height: 48.6px;
    text-align: left;
    color: #2C49FE;
    margin-top: 18px;
}

.free {
    font-family: "Poppins", sans-serif;
    /* font-size: 36px;
    font-weight: 700; */
    line-height: 48.6px;
    text-align: left;
    color: #01C8FF;
}

.nav-link {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-16);
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #000000;
    margin-top: 15px;

}

.gap10 {
    gap: 10px;
}

.nav-btn {
    width: 118px;
    height: 46px;
    gap: 10px;
    border-radius: 23px;
    opacity: 0px;
    background: #2C49FE;
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-16);
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
    border: none;
    margin-top: 18px;
}

.mt15 {
    margin-top: 15px;
}

.nav-btn:hover {
    color: #2C49FE;
    background: #ffffff;
    border: 1px solid #2C49FE;
}

.nav-link {

    font-size: var(--fs-16);
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: #FFFFFF;
}

.nav-link:hover {
    color: darkgrey;
}

.home {
    font-family: 'Poppins',
        sans-serif;
    font-size: var(--fs-16);
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #FFFFFF;
    padding-top: 100px;
}

.events {
    font-family: 'Poppins',
        sans-serif;
    font-size: var(--fs-64);
    font-weight: 600;
    line-height: 96px;
    text-align: left;
    color: #ffffff;
    padding-bottom: 50px;
}

.line2 {
    width: 188px;
    height: 8px;
    top: 440px;
    left: 867px;
    gap: 0px;
    opacity: 0px;
    background: #01C8FF;
}

.line1 {
    width: 166px;
    height: 8px;
    top: 440px;
    left: 866px;
    gap: 0px;
    opacity: 0px;
    background: #2C49FE;
}

.next-event {
    font-family: 'Poppins',
        sans-serif;
    font-size: var(--fs-48);
    font-weight: 700;
    line-height: 72px;
    color: #000000;
}

.lorem {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-24);
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.date {
    color: #666666;
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-16);
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}


.btn-gocheck {

    width: 134px;
    height: 46px;
    background: #2C49FE;
    color: white;
    border-radius: 23px;
    border: solid white;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    cursor: pointer;
    transition: all 300ms linear;
}

.mt-24 {
    margin-top: 24px;
}

.cardbox {
    max-width: 424px;
    width: 100%;

    padding: 30px;
    border-radius: 30px;


    border: 1px solid #00000033;
    transition: all 300ms linear;





}
.social{
    padding-top: 5px;
}

.cardbox:hover {
    box-shadow: 0px 8px 35px 0px #0000001A;
    border: 1px solid transparent;
}

.btn-gocheck {
    color: white;
    border: 1px solid blue;
    background: blue;
}

.btn-gocheck:hover {
    background: white;
    border: 1px solid blue;
    color: blue;
}

.para-4 {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-13);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 346px;
}
.mb-10{
    margin-bottom: 10px;
}

.services {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-13);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.about {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-13);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

.show-more {
    width: 43px;
    color: #FFF;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-13);
    font-style: normal;
    font-weight: 700;
    line-height: 150%;

}

.bg-blue {
    background: rgba(45, 60, 174, 0.53);
}

.companyname {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.pe-3{
    text-decoration: none;
}
/*--------------------------------------------RESPONSIVE-------------------------------------------------*/
@media (max-width:992px) {
    .display {
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        right: -100%;
        background-color: black;
    }

    input[type="checkbox"]:checked~ul.display {
        right: 0;

    }

    label[for="nav-icon"] {
        height: 30px;
        width: 25px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        z-index: 10;
        position: fixed;
        right: 2%;
    }

    label[for="nav-icon"]>span {
        width: 100%;
        height: 4px;
        background-color: rebeccapurple;

    }

    .nav-link {
        color: #FFFFFF;
    }


}

@media (max-width:576px) {
    .logo1 {
        width: 60px;
    }
}